<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/ToyController/bootstrap/css/bootstrap.simplex.min.css" rel="stylesheet">

    <style>
        img.cat_video{
            height:600px;
            width:800px;
        }

        div.video_row{
            text-align:center;
        }

        div.control_row{
            margin-top:30px;
            text-align:center;
        }

        div.control_row input{
            width:700px;
        }

    </style>
</head>
<body>

 <div class="container">
     <div class="row video_row">
         <img class="cat.video" src="http://placehold.it/800x600" height="600px" width="800px"/>
     </div>

     <div class="row control_row">
         <input type="range"  min="1" max="120"/>
     </div>
 </div>

</body>
</html>